.form {
    margin: 15px 0;

    &__input {
        width: 100%;
        font-size: 16px;
    }

    &__progress {
        min-height: 30px;
    }
    &__text {
        color: #212121;
        font-size: 16px;
        font-weight: 400;

        &_link {
            color: #2196F3;
            text-decoration: none;
            transition-duration: .3s;
            &:hover {
                color: #0D47A1;
            }
        }
    }

    &__btn {
        display: block;
        margin-top: 30px;
        font-size: 16px;
    }
}
