<div>
    <brvns-repertory-heading title="Симптомы"></brvns-repertory-heading>
    <mat-form-field class="input">
        <mat-label>Глава</mat-label>
        <mat-select [disabled]="isLoading || !categories" [(value)]="category" (selectionChange)="onSelect($event.value)">
            <mat-option *ngFor="let category of categories" [value]="category">
                {{category.title}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="progress-bar">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="content">
        <div *ngIf="!isFetching; else Loading">
            <div class="parent">
                <button mat-icon-button aria-label="Назад" [disabled]="parentSymptoms.length === 0" (click)="onBack()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <brvns-repertory-symptom
                    *ngFor="let parentSymptom of parentSymptoms"
                    [symptom]="parentSymptom"
                    isParent="true"
                >
                </brvns-repertory-symptom>
            </div>
            <div class="symptoms-block">
                <div class="empty" *ngIf="symptoms.length === 0">
                <span class="empty__text">
                    Нет симптомов
                </span>
                </div>
                <div class="list" *ngIf="symptoms.length > 0">
                    <brvns-repertory-symptom
                        *ngFor="let symptom of symptoms"
                        [symptom]="symptom"
                        (click)="onExpandSymptom(symptom)"
                    ></brvns-repertory-symptom>
                </div>
            </div>
        </div>
        <div class="form" *ngIf="!isLoading && !isFetching && !!category">
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <mat-form-field class="input" hideRequiredMarker>
                    <mat-label>Симптом</mat-label>
                    <input matInput formControlName="name" type="text" required>
                    <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
                </mat-form-field>
            </form>
            <button mat-button [disabled]="isFetching || form.invalid" (click)="onSubmit()" class="button">Добавить</button>
        </div>
    </div>
</div>

<ng-template #Loading>
    <div class="loading-center">
        <mat-spinner diameter="50" color="accent"></mat-spinner>
    </div>
</ng-template>
