.progress-bar {
    min-height: 30px;
}

.symptoms-block {
    background-color: #FAFAFA;
    border-radius: 3px;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    padding: 6px 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.form {
    margin-top: 20px;
}

.input {
    margin: 6px 0;
    font-size: 16px;
    width: 100%;
}

.button {
    margin-top: 6px;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    text-align: center;

    &__text {
        display: block;
        font-size: 16px;
        font-weight: 300;
        color: #9E9E9E;
    }
}

.parent {
    margin: 15px 0;
}

.loading-center {
    display: flex;
    justify-content: center;
}
