<div>
    <brvns-repertory-heading title="Реперторий"></brvns-repertory-heading>
    <div class="content">
        <div class="form" *ngIf="!loading; else loadingBlock">
            <div class="form__input">
                <tag-input
                    secondaryPlaceholder="Введите реперторий"
                    placeholder="+ реперторий"
                    [(ngModel)]="inputCategory"
                    [identifyBy]="'category_id'"
                    [displayBy]="'title'"
                    [onlyFromAutocomplete]="true"
                    (onAdd)="onAddCategory()"
                    (onRemove)="onRemoveCategory()"
                >
                    <tag-input-dropdown
                        [identifyBy]="'category_id'"
                        [displayBy]="'title'"
                        [showDropdownIfEmpty]="true"
                        [autocompleteItems]="listOfCategories"
                    >
                    </tag-input-dropdown>
                </tag-input>
            </div>
            <div class="form__input" *ngIf="inputCategory.length !== 0">
                <tag-input
                    secondaryPlaceholder="Введите симптом"
                    placeholder="+ симптом"
                    [(ngModel)]="inputSymptom"
                    [identifyBy]="'symptom_id'"
                    [displayBy]="'name'"
                    [onlyFromAutocomplete]="true"
                    (onAdd)="onAddSymptom($event)"
                >
                    <tag-input-dropdown
                        [identifyBy]="'symptom_id'"
                        [displayBy]="'name'"
                        [showDropdownIfEmpty]="true"
                        [autocompleteItems]="listOfSymptoms"
                    >
                    </tag-input-dropdown>
                </tag-input>
            </div>
        </div>
        {{inputSymptom | json}}
    </div>
    <div class="buttons">
        <button mat-button [disabled]="loading" (click)="updateMedications()">Обновить</button>
        <button mat-button color="accent">Добавить</button>
    </div>
    meds:
    {{medications | json}}
</div>

<ng-template #loadingBlock>
    <div class="loading">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</ng-template>
