<div>
    <brvns-repertory-heading title="Реперторий"></brvns-repertory-heading>
    <mat-form-field class="form">
        <mat-chip-list class="form__input" #chipList aria-label="Category selection">
            <mat-chip
                *ngFor="let category of inputCategories"
                selectable
                removable
                (removed)="remove(category)">
                {{category}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
                [disabled]="loading"
                placeholder="Категория"
                #categoryInput
                [formControl]="categoryCtrl"
                [matAutocomplete]="autoCategory"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #autoCategory="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                {{category}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
