<div>
    <brvns-repertory-heading title="Реперторий"></brvns-repertory-heading>
    <div class="content">
        <div class="form" *ngIf="!loading || listOfCategories.length !== 0; else loadingBlock">
            <div class="form__input" *ngIf="listOfCategories.length !== 0">
                <tag-input
                    secondaryPlaceholder="Введите реперторий"
                    placeholder="+ реперторий"
                    [(ngModel)]="inputCategory"
                    [identifyBy]="'category_id'"
                    [displayBy]="'title'"
                    [onlyFromAutocomplete]="true"
                    (onAdd)="onAddCategory()"
                    (onRemove)="onRemoveCategory()"
                >
                    <tag-input-dropdown
                        [identifyBy]="'category_id'"
                        [displayBy]="'title'"
                        [showDropdownIfEmpty]="true"
                        [autocompleteItems]="listOfCategories"
                    >
                    </tag-input-dropdown>
                </tag-input>
            </div>
            <div class="form__input" *ngIf="listOfSymptoms.length !== 0">
                <tag-input
                    secondaryPlaceholder="Введите симптом"
                    placeholder="+ симптом"
                    [(ngModel)]="inputSymptom"
                    [identifyBy]="'symptom_id'"
                    [displayBy]="'name'"
                    [onlyFromAutocomplete]="true"
                    (onAdd)="onAddSymptom($event)"
                    (onRemove)="onRemoveSymptom($event)"
                >
                    <tag-input-dropdown
                        [identifyBy]="'symptom_id'"
                        [displayBy]="'name'"
                        [showDropdownIfEmpty]="true"
                        [autocompleteItems]="listOfSymptoms"
                    >
                    </tag-input-dropdown>
                </tag-input>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button
            mat-button
            [disabled]="loading || inputSymptom.length === 0"
            (click)="updateMedications()"
        >
            Обновить
        </button>
        <button
            mat-button
            [disabled]="loading || inputSymptom.length === 0"
            color="accent"
        >
            Добавить
        </button>
    </div>
    <div class="progress-bar">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="!loading">
        <table mat-table [dataSource]="medications" class="table">
            <ng-container matColumnDef="medication_id">
                <th mat-header-cell *matHeaderCellDef class="idColumn"> Id </th>
                <td mat-cell *matCellDef="let element" class="idColumn"> {{element.medication_id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Название </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Описание </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

<ng-template #loadingBlock>
    <div class="loading">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</ng-template>
