.content {
    margin: 15px 0;
    min-height: 150px;
}

.form {
    &__input {
        margin: 15px 0;
        font-size: 16px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    width: 100%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    display: flex;
    align-items: center;
    margin: 15px 0;
    min-height: 40px;
}

.isCustom {
    color: #FF5722;
}
