.title {
    text-align: center;
}

.input {
    font-size: 16px;
    width: 100%;
}

.warn {
    display: block;
    margin-top: 20px;
    color: #9E9E9E;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
