<div>
    <brvns-repertory-heading title="Авторизация"></brvns-repertory-heading>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
        <mat-form-field class="form__input" hideRequiredMarker>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form__input" hideRequiredMarker>
            <mat-label>Пароль</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <div class="form__progress">
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </div>
        <span class="form__text">
            Нет аккаунта?
            <a class="form__text_link" routerLink="/register">Зарегистрироваться</a>
        </span>
        <button [disabled]="form.invalid || loading" class="form__btn" mat-button type="submit">Войти</button>
    </form>
</div>
