<div class="navbar">
    <div class="logo">
        <a routerLink="/">
            <img alt="Bioravnovesie" src="assets/img/logo.png">
        </a>
    </div>
    <div class="brand-block">
        <h1 class="brand">Реперторий</h1>
        <h2 class="desc">Биоравновесие</h2>
    </div>
    <button [disabled]="!currentUser" mat-icon-button class="menu-btn" [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
</div>
<mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="/">
        <span>Реперторий</span>
    </button>
    <button mat-menu-item routerLink="/meds">
        <span>Препараты</span>
    </button>
    <hr>
    <button *ngIf="currentUser" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>{{currentUser.name}}</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Выйти</span>
    </button>
</mat-menu>
